
.depicter-revert .depicter-2-element-44{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-2-element-44 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-2-element-45{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-2-element-45 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-2-element-35{
	font-size:34px;
	color:#140749;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	text-transform:;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-33{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	text-decoration:;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-28 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-39{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-38{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-36 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-43{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-42{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

